<p class="bey-style-guide-description text-muted mb-3">
    {{ 'angular-components-style-guide.page.example' | translate }}
</p>

<div class="bey-style-guide-frame p-3">
    <bey-page [config]="config"></bey-page>
</div>

<h4 class="mt-4 mb-3 fs-6 fw-semibold text-dark">
    {{ 'angular-components-style-guide.page.folders.heading' | translate }}
</h4>

<p class="bey-style-guide-description text-muted mb-3">
    {{ 'angular-components-style-guide.page.folders.example' | translate }}
</p>

<div class="bey-style-guide-frame p-3">
    <bey-page [config]="foldersConfig"></bey-page>
</div>
